/* You can add global styles to this file, and also import other style files */
body {
	font-family: sans-serif;
}

/* Styles for content-container */

/* Styles for first-row */
.price-col, .trend-col {
	padding: 20px;
}

/* Styles for Cards */
.card-title {
	color: gray	!important;
}


.price-card {
	text-align: left;
}

/* Styles for icons */
.material-icons {
	font-size: 48px;
	color: white;
	border-radius: 3px;
	padding: 20px;
}

.trending_up {
	background: linear-gradient(to right, #84e184, #32cd32);
}
