<div class="first-row row">
	<div class="col-md-3 col-sm-12 price-col">
		<div class="price-card card">
			<div class="card-body">
				<h1 class="card-title">Price</h1>
				<p class="card-text">BTC/USD: $1000.00 USD</p>
				<p class="card-text">BTC/ETH: 0.08697256 BTC</p>
				<p class="card-text">BTC/LTC: 0.0170700 BTC</p>
				<p class="card-text">BTC/BCH: 0.1321000 BTC</p>
			</div>
			<i class="material-icons local_atm">local_atm</i>
		</div>
	</div>
	<div class="col-md-9 col-sm-12 trend-col">
		<div class="trend-card card">
			<div class="card-body">
				<h1 class="card-title">Trend</h1>
			</div>
		</div>
	</div>
</div>